  <!----------------------BACK------------------------>
  <div class="button">
    <button routerLink='/'> Back </button>
  </div>


  <div class="button" style="text-align: center;">










    <!---------------------VIEW LIST-------------------->
    <div>
      <button class="button" style="margin: 5px;" (click)="toggleList()"> View All Employees </button> <br>
    </div>


    <!---------------------CREATE ASSET TYPE-------------------->
    <div class="button2" >
      <button style="margin: 5px;" (click)="createNewEmployee()"> Create New </button>
    </div>

      <div *ngIf="canCreateNewEmployee">
        <input #employeeName placeholder="Name" type="text" style="margin: 5px;">
        <input #employeeStartDate placeholder="Start Date" type="text" style="margin: 5px;">

        <button (click)="submitNewEmployee(employeeName.value, employeeStartDate.value)" style="margin: 5px;"> Submit </button>
      </div>



    <!------------------------ASSET DETAILS----------------------------->
      <div class="button" *ngIf="listHidden">

        <!---------------------SEARCH BY ID-------------------->
        <div>

          <button (click)="searchEmployeeByName(searchTerm)" type="button" class="search-button" > Search </button>
          <input type="text" placeholder="Id" class="search-input" [(ngModel)]="searchTerm">

          <br><br>
        </div>

        <div *ngIf="searchInvalid" style="color: red;">
          Employee not found in the list.
        </div>

        <ul style="display: inline-block; text-align: left;">
            <li  *ngFor="let employee of employee">



                <div *ngIf="!employee.editing">
                  <b>ID:</b> {{employee.id}} <br>
                  <b>NAME:</b> {{employee.name}} <br>
                  <b> Started Working At :</b> {{employee.startedWorkAt | date:"MMM dd, yyyy 'at' hh:mm a"}} <br>
                  <b> Finished Working At: </b> {{employee.finishedWorkAt | date:"MMM dd, yyyy 'at' hh:mm a"}} <br>
                  <div>
                    <button (click)="updateEmployee(employee.id, employee)" style="margin: 5px;"> Update </button>
                    <button (click)="deleteEmployee(employee.id)" style="margin: 5px;"> Delete </button>
                  </div>

                </div>



                <div *ngIf="employee.editing">
                  <b>ID:</b> {{employee.id}} <br>
                  <b>NAME:</b>
                  <input [(ngModel)]="employee.name" type="text" /> <br>
                  <b>Started Working At: </b> {{employee.startedWorkAt}} <br>
                  <b>Finished Working At: </b> <input type="text" [(ngModel)] = "employee.finishedWorkAt" /> <br>

                  <div>
                    <button (click)="saveEmployee(employee)" style="margin: 5px;"> Save </button>
                    <button (click)="deleteEmployee(employee.id)" style="margin: 5px;"> Delete </button>
                    <button (click)="cancelUpdateEmployee(employee)" style="margin: 5px;"> Cancel </button>


                  </div>
                </div>


                <br><br>




            </li>
          </ul>
    </div>

  </div>


