<!----------------------BACK------------------------>
<div class="button">
  <button routerLink='/'> Back </button>
</div>


<div class="button" style="text-align: center;">










  <!---------------------VIEW LIST-------------------->
  <div>
    <button class="button" style="margin: 5px;" (click)="initList()"> View All Asset Types </button> <br>
  </div>


  <!---------------------CREATE ASSET TYPE-------------------->
  <div class="button2">
    <button style="margin: 5px;" (click)="createNewAssetType()"> Create New </button>
  </div>

  <div *ngIf="canCreateNewAssetType">

    <form [formGroup]="formModel">

      <input  formControlName="name" placeholder="name" type="text" style="margin: 5px;">

      <div *ngIf="formModel.get('name')?.touched && formModel.get('name')?.invalid">
        <small style="color: red;">Name is required</small>
      </div>

      <button [disabled]="formModel.invalid" (click)="submitNewAssetType()" style="margin: 5px;"> Submit
      </button>

    </form>
  </div>



  <!------------------------ASSET DETAILS----------------------------->
  <div class="button" *ngIf="!listHidden">




    <div>
      <br>

      <!---------------------SEARCH BY ID-------------------->
      <input type="text" [(ngModel)]="assetTypelookup.id" placeholder="Search Id " class="search-input"
        (input)="searchAssetTypeDynamically()"> <br><br>




      <!---------------------SEARCH BY NAME-------------------->
      <input type="text" [(ngModel)]="assetTypelookup.like" placeholder="Search Name" class="search-input"
        (input)="searchAssetTypeDynamically()"> 
      <br><br>




      <!---------------------SORT-------------------->
      Order: 
        <select (change)="setOrderItem($event)">
          <option  *ngFor="let name of controlNames">
            {{name | titlecase}}
          </option>
        </select>

      By:      
        <select (change)="setOrderBy($event)">
          <option [value]="true">
            Ascending
          </option>
          <option [value]="false">
            Descending
          </option>
        </select>

        
        

      <br>
    </div>

    <div *ngIf="searchInvalid" style="color: red;">
      Asset Type not found in the list.
    </div>


    <!--------------------DISPLAY-------------------->
    <ul style="display: inline-block; text-align: left;">

      <div [formGroup]="formModel">

        <li *ngFor="let assetType of assetType">

          <div *ngIf="formModel == null || assetType.id != formModel.get('id')?.value">

            <b>ID:</b> {{assetType.id}} <br>
            <b>NAME:</b> {{assetType.name}}

            <div>
              <button (click)="updateAssetType(assetType)" style="margin: 5px;"> Update </button>
              <button (click)="deleteAssetType(assetType.id)" style="margin: 5px;"> Delete </button>
            </div>

          </div>


          
          <!------------EDITING------------>
          <div *ngIf="formModel != null && assetType.id == formModel.get('id')?.value">

            <b>ID:</b> {{assetType.id}} <br>
            <b>NAME:</b> <input type="text" formControlName="name">

            <div *ngIf="formModel.get('name')?.touched && formModel.get('name')?.invalid">
              <small style="color: red;">Name is required</small>
            </div>

            <div>
              <button [disabled]="formModel.invalid" (click)="saveAssetType() " style="margin: 5px;"> Save </button>
              <button (click)="deleteAssetType(assetType.id)" style="margin: 5px;"> Delete </button>
              <button (click)="cancelUpdateAssetType()" style="margin: 5px;"> Cancel </button>
            </div>

          </div>
          <br><br>

        </li>
      </div>

    </ul>
  </div>


  
  
 

</div>
 
<div class="pagination-container" *ngIf="!listHidden" >
  <app-pagination 

  [childPagesSum]="pagesSum" 
  [childPageIndex]="index"
  
  (childEvent)="receivePageIndex($event)">
  
</app-pagination>


</div>

 