<!----------------------BACK------------------------>
<div class="button">
  <button routerLink='/'> Back </button>
</div>




<div class="button" style="text-align: center;">
  
  <!---------------------VIEW LIST-------------------->
  <div>
    <button class="button" style="margin: 5px;" (click)="initList()"> View All Assets </button> <br>
  </div>


  <!---------------------CREATE ASSET-------------------->
  <div class="button2">
    <button style="margin: 5px;" (click)="createNewAsset()"> Create New </button>
  </div>

  <div *ngIf="canCreateNewAsset">

    <form [formGroup]="formModel">



      <input formControlName="name" placeholder="Name" type="text" style="margin: 5px;">

      <select formControlName="assetTypeId" placeholder="Asset Type Id" style="margin: 5px;">
        <option [value]="assetTypeItem.id" *ngFor="let assetTypeItem of assetType" >  <!-- match assetType.name with its id  -->
          {{assetTypeItem.name}}
        </option>
      </select>


      
      <div *ngIf="formModel.get('name')?.touched && formModel.get('name')?.invalid">
        <small style="color: red;">Name is required</small>
      </div>
      
      

      <button [disabled]="formModel.invalid" (click)="submitNewAsset()" style="margin: 5px;"> Submit </button>

    </form>

  </div>


  <!----------------------ASSET DETAILS-------------------------->
  <div class="button" *ngIf="!listHidden">



    <div>
      <br>
      <!---------------------SEARCH BY ID-------------------->
      <input type="text" [(ngModel)]="assetLookup.id" placeholder="Search Id " class="search-input"
        (input)="searchAssetDynamically()"> <br><br> 

      <!---------------------SEARCH BY NAME-------------------->
      <input type="text" [(ngModel)]="assetLookup.like" placeholder="Search Name" class="search-input"
        (input)="searchAssetDynamically()">
      <br><br>

      <!---------------------SORT-------------------->
      Order: 
      <select (change)="setOrderItem($event)">
        <option  *ngFor="let name of controlNames">
          {{name | titlecase}}
        </option>
      </select>
  
      By:      
      <select (change)="setOrderBy($event)">
        <option [value]="true">
          Ascending
        </option>
        <option [value]="false">
          Descending
        </option>
      </select>
  
  
    </div>
  
      <div *ngIf="searchInvalid" style="color: red;">
        Asset Type not found in the list.
      </div>

 



    <!--------------------DISPLAY-------------------->

    <ul style="display: inline-block; text-align: left;">

      <div [formGroup]="formModel" >

        <li *ngFor="let asset of asset">

          <div *ngIf="formModel == null || asset.id != formModel.get('id')?.value">

            <b>ID:</b> {{asset.id}} <br>
            <b>NAME:</b> {{asset.name}} <br>
            <b> CREATED AT: </b> {{asset.createdAt | date:"MMM dd, yyyy 'at' hh:mm a"}} <br>
            <b> UPDATED AT: </b>{{asset.updatedAt | date:"MMM dd, yyyy 'at' hh:mm a"}} <br>
            <b> ASSET TYPE: </b> {{asset.assetType.name }} <br>

            <div>
              <button (click)="updateAsset(asset)" style="margin: 5px;"> Update </button>
              <button (click)="deleteAsset(asset.id)" style="margin: 5px;"> Delete </button>
            </div>

          </div>



          <!------------EDITING------------>
          <div [formGroup]="formModel" *ngIf="formModel != null && asset.id == formModel.get('id')?.value">

            <b>ID:</b> {{asset.id}} <br>
            <b>NAME:</b> <input formControlName="name" type="text" /> <br>

            <div *ngIf="formModel.get('name')?.touched && formModel.get('name')?.invalid">
              <small style="color: red;">Name is required</small>
            </div>

            <b> CREATED AT: </b> {{asset.createdAt | date:"MMM dd, yyyy 'at' hh:mm a"}} <br>
            <b> UPDATED AT: </b> {{asset.updatedAt | date:"MMM dd, yyyy 'at' hh:mm a"}} <br>
            <b> ASSET TYPE: </b>
            <select formControlName="assetTypeId">
              <option [value]="assetType.id" *ngFor="let assetType of assetType" >
                {{assetType.name}} <!--display assetType.name instead-->
              </option>
            </select> <br>


            <div>
              <button [disabled]="formModel.invalid" style="margin: 5px;" (click)="saveAsset()">
                Save </button>
              <button style="margin: 5px;" (click)="deleteAsset(asset.id)"> Delete </button>
              <button style="margin: 5px;" (click)="cancelUpdateAsset()"> Cancel </button>
            </div>

          </div>
          <br><br>

        </li>
      </div>
    </ul>
  </div>
 </div>


 <!-- make pagination a component and import it with @Input() -->
 <div class="pagination-container" *ngIf="!listHidden" >

  <button (click)="pageBack()" class="pagination"> &laquo; Back</button> 

  <div *ngFor="let page of [].constructor(pagesSum) ; let i = index"> 
    <button  class="pagination" (click)="selectPage(i+1)"> {{i+1}} </button>
  </div>

  <button (click)="pageNext()" class="pagination"> &raquo; Next</button>

</div> 
