<!----------------------BACK------------------------>
<div class="button">
  <button routerLink='/'> Back </button>
</div>




<div class="button" style="text-align: center;">
  
  <!---------------------VIEW LIST-------------------->
  <div>
    <button class="button" style="margin: 5px;" (click)="toggleList()"> View All Assets </button> <br>
  </div>


  <!---------------------CREATE ASSET-------------------->
  <div class="button2">
    <button style="margin: 5px;" (click)="createNewAsset()"> Create New </button>
  </div>

  <div *ngIf="canCreateNewAsset">

    <form [formGroup]="formModel">

      <input formControlName="name" (input)="p()" placeholder="Name" type="text" style="margin: 5px;">

      <select formControlName="assetTypeId" placeholder="Asset Type Id" style="margin: 5px;">

        <option [value]="assetTypeItem.id" *ngFor="let assetTypeItem of assetType" >  <!-- match assetType.name with its id  -->
          
          {{assetTypeItem.name}}
        
        </option>

        
      </select>

      <div *ngIf="formModel.get('name')?.touched && formModel.get('name')?.invalid">
        <small style="color: red;">Name is required</small>
      </div>

      <button [disabled]="formModel.invalid" (click)="submitNewAsset()" style="margin: 5px;"> Submit </button>

    </form>

  </div>


  <!----------------------ASSET DETAILS-------------------------->
  <div class="button" *ngIf="listHidden">



    <!---------------------SEARCH BY ID-------------------->
    <div>
      <br>
      <input type="text" [(ngModel)]="assetLookup.id" placeholder="Search Id " class="search-input"
        (input)="searchAssetDynamically()"> <br><br>
      <input type="text" [(ngModel)]="assetLookup.like" placeholder="Search Name" class="search-input"
        (input)="searchAssetDynamically()">
      <br><br>
    </div>

    <div *ngIf="searchInvalid" style="color: red;">
      Asset Type not found in the list.
    </div>

    <ul style="display: inline-block; text-align: left;">

      <div [formGroup]="formModel">

        <li *ngFor="let asset of asset">

          <div *ngIf="!asset.editing">

            <b>ID:</b> {{asset.id}} <br>
            <b>NAME:</b> {{asset.name}} <br>
            <b> CREATED AT: </b> {{asset.createdAt | date:"MMM dd, yyyy 'at' hh:mm a"}} <br>
            <b> UPDATED AT: </b>{{asset.updatedAt | date:"MMM dd, yyyy 'at' hh:mm a"}} <br>
            <b> ASSET TYPE Name: </b> {{asset.assetType.name}} <br>

            <div>
              <button (click)="updateAsset(asset.id, asset)" style="margin: 5px;"> Update </button>
              <button (click)="deleteAsset(asset.id)" style="margin: 5px;"> Delete </button>
            </div>

          </div>



          <!------------EDITING------------>
          <div *ngIf="asset.editing">

            <b>ID:</b> {{asset.id}} <br>
            <b>NAME:</b> <input formControlName="Name" type="text" /> <br>
            <div *ngIf="formModel.get('Name')?.touched && formModel.get('Name')?.invalid">
              <small style="color: red;">Name is required</small>
            </div>
            <b> CREATED AT: </b> {{asset.createdAt}} <br>
            <b> UPDATED AT: </b> {{asset.updatedAt}} <br>
            <b> ASSET TYPE ID: </b>

            <select #assetTypeId>
              <option *ngFor="let assetType of assetType">
                {{assetType.id}} <!--display assetType.name instead-->
              </option>
            </select> <br>

            <div>
              <button [disabled]="formModel.invalid" style="margin: 5px;" (click)="saveAsset(asset, assetTypeId.value)">
                Save </button>
              <button style="margin: 5px;" (click)="deleteAsset(asset.id)"> Delete </button>
              <button style="margin: 5px;" (click)="cancelUpdateAsset(asset)"> Cancel </button>
            </div>

          </div>
          <br><br>

        </li>
      </div>
    </ul>
  </div>

</div>