<div class="relative overflow-hidden h-[600px]">
  <om-aurora>

    <div class="relative -bottom-[200px] fade-right-overlay">
        <img [src]="cyberArmImage" alt="hand" class="absolute h-96 w-auto -left-[120px]   " />
    </div>

    <div class="relative -bottom-[200px] fade-left-overlay">
      <img [src]="humanHandImage" class="absolute w-[700px] h-auto right-0   "/>
    </div>

    <!-- <div [ngClass]="(isDark ? 'content' : 'contentWhite') + ' transition-colors duration-1000'">
        <h1 class="text-black dark:text-white relative -translate-y-36">
          Aurora
        </h1>
    </div> -->


  </om-aurora>
</div>
